.status-circle {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}